@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
    background-attachment: fixed
}
.container{
    @apply max-w-[1320px] mx-auto px-4;
}

.search-input, .search-button, .nav__user a, .nav__user-btn{
    background-color: rgb(9, 9, 55, .2);
}

/* Hero */
.hero{
    background-image: url("./assets/bg-main.png");
    background-size: cover;
    background-position: center;
}
/* Loader */
.loader {
    margin: 0 auto;
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #ccc #0000;
    animation: l16 1s infinite linear;
  }
  .loader::before,
  .loader::after {    
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
  }
  .loader::before {
    border-color: #f03355 #0000;
    animation: inherit; 
    animation-duration: .5s;
    animation-direction: reverse;
  }
  .loader::after {
    margin: 8px;
  }
  @keyframes l16 { 
    100%{transform: rotate(1turn)}
  }